# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask cache files
instance/
*.pyc
*.pyo
*.pyd

# Env files
.env
.venv/
venv/
ENV/
env.bak/
env/

# macOS and Linux hidden files
.DS_Store
.idea/
*.swp

# VS Code settings
.vscode/

# Log files
*.log

# Uploaded files folder (if you're storing uploads)
uploads/

# System files
Thumbs.db
